<!-- Navigation Partial -->
<nav>
    <div class="row">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="/" class="brand-logo">Sweet Flashcards</a>
                {{#if logged_in}}
                <a href="#" role="button" data-target="sidebar-nav" class="right sidenav-trigger show-on-medium-and-up"><i class="material-icons">menu</i></a>
                {{else}}
                <ul class="right">
                    <li><a href="/login" class="right">Login</a></li>
                </ul>
                {{/if}}
            </div>
        </div>
    </div>
</nav>
{{#if logged_in}}
<ul id="sidebar-nav" class="sidenav">
    {{#if user}}
    <li>
        <div class="user-view" style="background:#ccc">
            <!-- <div class="background">
                <img src="images/office.jpg">
            </div> -->
            <span class="circle" style="background:rgba(0,0,0,0.2);color:#FFF;display:flex;align-items:center;justify-content:center;"><i class="material-icons">person</i></span>
            {{#if user.name}}<span class="name">{{user.name}}</span>{{/if}}
            {{#if user.email}}<span class="email">{{user.email}}</span>{{/if}}
            
        </div>
    </li>
    {{/if}}
    <li><a href="/my/flashcards">My Flashcards</a></li>
    <li><a href="/my/quiz">Quiz</a></li>
    <li><a href="#" role="button" id="logout">Logout</a></li>
</ul>
<script>
    (()=> {
        /**
            * Enable the logout POST request.
            */
        document.getElementById('logout').addEventListener('click', async e => {
            e.preventDefault();
            await fetch('/api/users/logout', { method: "POST" });
            location.replace('/login');
        })
        /**
            * Initialize the sidebar
            * @see https://materializecss.com/sidenav.html
            */
        M.Sidenav.init(
            document.getElementById('sidebar-nav')
        );
    })();
</script>
{{/if}}