:root {
    --light: #DFDFDF;
    --dark-transparent: rgba(0,0,0,0.2);
}

/** ##### Forms ##### **/
fieldset {
    border: none;
    outline: none;
}

/** ##### Grid ##### **/
.row-flex {
    display: flex;
    flex-wrap: wrap;
}
.row-flex .col {
    margin-left: 0 !important;
}

/** ##### Sidenav Styles ##### */
.sidenav .user-view {
    background: var(--light);
}
.user-view .circle {
    background:var(--dark-transparent);
    color:#FFF;
    display:flex;
    align-items:center;
    justify-content:center;
}
.user-view .circle i {
    font-size: 2.5em;
}

/** ##### Main Content Area ##### **/
main {
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc( 100vh - 64px );
}

/** ### Grid - Cards ### **/
.row-cards .card {
    height: calc( 100% - 1.5rem );
    display: flex;
    flex-direction: column;
}
.row-cards .card-content {
    flex-grow: 1;
}
.row-cards .card-action {
    margin-top: auto;
}

/** ##### Card ##### **/
.card-action .right {
    margin-right: 0;
}

/** ### Card - Flash ### **/
.card-flash {
    min-height: 275px;
}
.card-flash .card-content {
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    font-weight: 300;
}
.card-flash textarea {
    height: auto;
    font-size: 2rem;
    font-family: inherit;
    outline: none;
    border: none !important;
    box-shadow: none !important;
}
.card-flash textarea::placeholder {
    color: inherit;
    opacity: 0.35;
}
.flash-question {
    font-weight: 700;
}

/** # Card - Flash - Saving Progress # **/
.card-flash.saving {
    opacity: 0.6;
    box-shadow: none !important;
}
.card-flash .progress {
    display: none;
}
.card-flash.saving .progress {
    display: block;
}

/** ##### Welcome ##### **/
.welcome h1 {
    font-size: 2rem;
}